{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
<body>
    {{> nopicheader }}

    <main>

        {{{ contents }}}

        {{> blog-nav }}
    </main>

    {{> footer }}
</body>
</html>
