{{> doc-head }}
<body>
    {{> nopicheader }}

    <main>
        {{{ contents }}}

         { url: "https://ethereum.org/" }
         { url: "https://eth.build/" }
         { url: "https://remix.ethereum.org/" }
         { url: "https://compound.finance" }
         { url: "https://oasis.app" }
         { url: "https://aave.com" }
         { url: "https://uniswap.exchange" }
         { url: "https://zapper.fi" }
         { url: "https://gitcoin.co" }
         { url: "https://ipfs.io" }
    </main>

    {{> footer }}
</body>
</html>
